<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Shoetropolis!</h1>
        
    <div class="content">
      <h2>Yo Wassup! </h2>
      <p>Welcome to Shoetropolis, where shoe fanatics unite! Keep track of your shoes and share your collection with other shoe lovers. Here you can trade & sell or just admire great craftmanship for the feet. Shoes.;)</p>
    <p> If you are already apart of the Fam, come on in! To Join, click the signup at the top. See ya inside! </p>
    
    </div>


   


  </div>
</div>




