<div class="container">
  <header><img src="public/images/shoetropolis1.png" alt="Shoes"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Shoetropolis!</h2>

    <div class="content">
      <h1>Hey There! </h1>
      <p>Welcome to Shoetropolis, where shoe fanatics unite! Keep track of your shoes and share your collection with other shoe lovers. Here you can trade & sell or just admire great craftmanship for the feet. Shoes.;)</p>
    </div>

   


  </div>
</div>




