<h1> Here are your fresh kicks </h1>

<a href="/shoes/new">Add more shoes to your collection</a>

<%@shoes.each do |shoe|%>
<h2> <%=shoe.name%> </h2>
 <p> <%=shoe.description%> </p>
 <img src="<%=shoe.image%>" alt ="shoe"
 <%end%>

