<h1><%=@shoe.name%></h1>
<p><%=@shoe.description%></p>
<img sourc="<%=@shoe.image%>" alt="shoe">
<form action="/shoes/<%=@shoe.id%>" method="post">

<input type="hidden" name="_method" value="delete">

<% if @shoe.user == current_user%> 
<button type="submit"> Delete Shoe</button>
<% end %>
</form>