<h1><%=@shoe.name%></h1>
<h1><%=@shoe.description%></h1>
<img sourc="<%=@shoe.image%>" alt="shoe">
<form action="/recipes/<%=@shoe.id%>" method="post"
input type="hidden" name="_method" value="delete">
<button type="submt"> Delete Shoe</button>
</form>